.coins__coinsList{
    padding: 4rem 4rem;
    
}

.coins__coinsList-container{
    overflow-x: auto;
}


.coins__coinsList-header{
    padding:0 3rem;
    padding-bottom: 6rem;
}

.coins__coinsList-header h1{
    font-size: 40px;
}

/* COIN FILTERS */
/* ------------------------------------------- */

.coins__coinsList-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coins__coinsList-filters_left{
    display: flex;
    padding: 0.2rem 0 ;
    margin-right:0.3rem ;
}

.coins__coinsList-filters_left button{
    background-color: rgb(250, 250, 250, 0.15);
    border: none;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.8;

    color: var(--font-subtitle);


    padding: 8px 12px ;
    margin-right: 0.5rem;
    
}

.coins__coinsList-filters button:hover{
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
}

.coins__coinsList-filters_right{
    display: flex;
}

.coins__coinsList-filters_right select{
    color: var(--font-lightSubtitle);
    font-weight:700;
    font-size: 14px;
    background-color: rgb(250, 250, 250, 0.15) ;
    border: none;
    border-radius: 5px;

    margin-left: 1rem;
    padding: 3px;
}

.react-select-container{
    border: none;
}

.react-select__control{
    background-color: rgb(250, 250, 250, 0.15) ;
}

.react-select__value-container{
   
    
}

.react-select__indicators{
    
}

/* PAGE NUMERATION */
/* ----------------------------------------------------- */

.coins__coinsList-numPage{
    display: flex;
    justify-content: space-between;

    padding: 1.5rem 5rem;
}

.coins__coinsList-numPage p{
    color: var(--color-green);
    cursor: pointer;
}

.coins__coinsList-numPage p:hover{
    text-decoration:underline;
}

.coins__coinsList-numPage p{
    display: flex;
    justify-content: flex-end;

    
}

@media screen and (max-width: 1050px){
    .coins__coinsList-header{
        padding-left: 0;
    }

    .coins__coinsList-header h1{
        font-size: 34px;
    }
}

@media screen and (max-width: 900px){
    .coins__coinsList{
        padding: 4rem 0.2rem;
        
    }

    .coins__coinsList-header{
        padding-left: 2rem ;
    }

    .coins__coinsList-filters{
        padding: 0 0.5rem ;
    }
}

@media screen and (max-width: 750px){
    .coins__coinsList-header h1{
        font-size: 28px;
    }
}

@media screen and (max-width: 550px){
    .coins__coinsList-numPage{
        padding: 1.5rem 2rem;
        font-size: 14px;
    }
}