@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Raleway:wght@500&family=Roboto&display=swap');

:root {
    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'Open Sans', sans-serif;

    --font-cmc:'Inter';
    
    --color-green: #0FAE96;
    --color-violet: #511281;
    --color-grey: #808080;


    --color-card:rgba(255, 255, 255, 0.02);
    --color-border: rgba(255, 255, 255, 0.05);
    


    --color-background: rgba(17, 1, 30, 1);

    
    --font-pureWhite:#FFFFFF;
    --font-lightTitle:#ECF1F0;
    --font-lightSubtitle: #B6B6B6;
    --font-blackTitle:#2B2B2B;

    --up-color: #16c784;
    --down-color: #ea3943;

   

  }

  a{
    text-decoration: none;
    color: unset;
  }

  


  